.title {
  font-weight: bold;
  text-align: center;
  font-size: 28px;
}

.card-deck {
  margin-top: 80px;
  margin-bottom: 80px;
}

.first-card:hover{
  transform: scale(1.02) !important;
  overflow: hidden !important;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px !important;
}
.Second-card:hover{
  transform: scale(1.02) !important;
  overflow: hidden !important;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px !important;
}
.Third-card:hover{
  transform: scale(1.02) !important;
  overflow: hidden !important;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px !important;
}
.card-text {
  text-align: center;
}

.btn-explore {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  align-items: center;
  margin-left: 25% !important;
}
